//Primary Color

$accent-color: hsl(277, 64%, 61%);
$card-background-color: hsl(244, 38%, 16%);
$main-background-color: hsl(233, 47%, 7%);

// Neutral

$white: hsl(0, 0%, 100%);
$main-paragraph-color: hsla(0, 0%, 100%, 0.75);
$stat-headings-color: hsla(0, 0%, 100%, 0.6);

//font-weights

$light: 400;
$semi-bold: 700;
